.container {
    min-height: 140vh;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/image/johnny-africa-CE1_qYPbMBU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(224, 243, 255, 0.5);
}

.title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #fff;
}

.link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #4169e1;
}